.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  #bus-reservation-form label {
    width: 100px;
    display: inline-block;
  }
  
  #bus-reservation-form select {
    width: 200px;
    height: 25px;
  }
  
  #bus-list {
    width: 500px;
    margin: 0 auto;
    text-align: left;
  }
  
  #bus-list table {
    border-collapse: collapse;
  }
  
  #bus-list th, td {
    border: 1px solid black;
    padding: 5px;
  }
  
  #bus-list th {
    background-color: lightgray;
  }
  